/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E   |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | ESC  |
// | CTRL |  A  |  S  |  D   |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  | RSE  |
// | SHFT |  Z  |  X  |  C   |  V  |  B  |   |  N  |  M   |  =  |  '  |  -  | LWR  |
//                    | BSPC | ALT | SPC |   | ENT | LGUI | DEL |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P     &kp ESC
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI  &mo  2
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp EQUAL &kp SQT &kp MINUS &mo  1
               &kp BSPC &kp LALT &kp SPACE   &kp RET &kp LGUI &kp DEL
                        >;
                };
                lower_layer {
                        label = "NUMBER";
// -----------------------------------------------------------------------------------------
// |   |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |      |
// |   |     |     |  UP |  /  |  [  |   |  ]  |  \  | VUP |PL_PS|     |      |
// |   |  `  | LFT | DWN | RGT |  ,  |   |  .  |     | VDN |MUTE |     |      |
//                 |     |     |     |   |     |     |     |
                        bindings = <
   &trans  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5       &kp N6    &kp N7    &kp N8        &kp N9      &kp N0  &trans
   &trans  &trans     &trans    &kp UP    &kp FSLH   &kp LBKT     &kp RBKT  &kp BSLH  &kp C_VOL_UP  &kp C_PP    &trans  &trans
   &trans  &kp GRAVE  &kp LEFT  &kp DOWN  &kp RIGHT  &kp COMMA    &kp DOT   &trans    &kp C_VOL_DN  &kp K_MUTE  &trans  &trans
                                &trans    &trans     &trans       &trans    &trans    &trans
                        >;
                };

                raise_layer {
                        label = "BT_MEDIA";
// -----------------------------------------------------------------------------------------
// |  `  |  1  |  2  |  3   |  4    |  5    |       |  6  |  7  |  8  |  9  |  0  |   -  |
// |  ~  |  !  |  @  |  #   |  $    |  %    |       |  ^  |  &  |  *  |  (  |  )  |      |
// |  UP |     |  ?  |  /   |  {    |  [    |       |  ]  |  }  |  \  |  |  | DWN |   _  |
//                   |BT_CLR|BT_SEL1|BT_SEL2|       |BT_SEL3|BT_SEL4|BT_SEL5|
                        bindings = <
   &kp GRAVE  &kp N1   &kp N2    &kp N3    &kp N4     &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS
   &kp TILDE  &kp EXCL &kp AT    &kp HASH  &kp DLLR   &kp PRCNT     &kp CARET &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR  &trans 
   &kp UP     &trans   &kp QMARK &kp FSLH  &kp LBRC   &kp LBKT      &kp RBKT  &kp RBRC  &kp BSLH  &kp PIPE  &kp DOWN  &kp UNDER
                    	&bt  BT_CLR  &bt BT_SEL 0 &bt BT_SEL 1      &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
                        >;
                };
        };
};
